.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 60px;
}

.header__cardHeader {
  margin-bottom: 15px;
  padding: 8px;
}

.header > h2 {
  font-size: 2rem;
  color: #fff !important;
  cursor: pointer;
}

.header > h2 > span.dash {
  color: gray;
}

.header > h2 > span.nineteen {
  color: red;
}

.header__right {
  display: flex;
  align-items: center;
}

.header p {
  margin-right: 1rem;
  color: #adadad;
  font-size: 14px;
  order: 1;
}

/* autocomplete */
.MuiAutocomplete-root {
  /* width: 200px !important; */
  order: 2;
}
.MuiInputBase-root {
  color: #fff !important;
}
.MuiAutocomplete-listbox {
  background-color: #1f1f1f !important;
}
.MuiAutocomplete-option {
  color: #fff !important;
  background-color: #1f1f1f !important;
}
.MuiAutocomplete-option[data-focus="true"],
.MuiAutocomplete-option[aria-selected="true"] {
  color: #fff !important;
  background-color: #333 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #333 !important; /* border color */
}
.MuiButtonBase-root {
  color: #ccc !important; /* icon drop down icon color */
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 1rem 10px;
  }

  .header h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .header__right {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  .header p {
    margin-top: 1rem;
    order: 2;
  }

  .MuiAutocomplete-root {
    width: 100% !important;
    order: 1;
  }
}
