:root {
  --cases_col: #ff5722;
  /* --cases_col: rgb(255, 87, 34); */
  --recovered_col: #2e7d32;
  /* --recovered_col: rgb(46, 125, 50); */
  --death_col: #c62828;
  /* --death_col: rgb(198, 40, 40); */
}

.infoBox {
  flex: 1;
  cursor: pointer;
  height: 135px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox:hover {
  background-color: #2e2e2e !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: var(--recovered_col);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__title {
  color: #fff !important;
  font-weight: 300 !important;
}

.infoBox__total {
  color: var(--recovered_col);
  font-weight: 400 !important;
  font-size: 0.9rem !important;
}

.infoBox__selected {
  border-bottom: 6px solid var(--recovered_col);
}

.infoBox__red {
  border-color: var(--cases_col);
}

.infoBox__copper {
  border-color: var(--death_col);
}

.info__cases__red {
  color: var(--cases_col) !important;
}

.info__cases__copper {
  color: var(--death_col);
}

@media (max-width: 600px) {
  .infoBox {
    /* text-align: center; */
    padding: 12px 10px;
  }

  .infoBox__cases {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0;
    padding: 0 !important;
  }

  .infoBox__title {
    /* margin-bottom: 12px !important; */
    font-size: 14px !important;
  }

  .infoBox__total {
    font-size: 0.75rem !important;
  }
}
