:root {
  --cases_col: red;
  --recovered_col: green;
  --death_col: #B00020;
}

.infoBox {
  flex: 1;
  cursor: pointer;
  box-sizing: border-box;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: var(--recovered_col);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

.infoBox__title {
  color: #fff !important;
}

.infoBox__total {
  color: var(--recovered_col);
  font-weight: 700 !important;
  font-size: .8rem !important;
  margin-top: 15px !important;
}

.infoBox__selected {
  border-bottom: 10px solid var(--recovered_col);
}

.infoBox__red {
  border-color: var(--cases_col);
}

.infoBox__copper {
  border-color: var(--death_col);
}

.info__cases__red {
  color: var(--cases_col) !important;
}

.info__cases__copper {
  color: var(--death_col);
}