.table {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
  height: 400px;
  color: #ddd;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: .5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #2d2d2d;
}

.table .table__cases {
  color: red;
}