* {
  margin: 0;
}

body {
  background-color: #111;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__cardHeader {
  margin-bottom: 15px;
  padding: 8px;
}

.app__header > h2 {
  font-size: 2rem;
  color: #03DAC5 !important;
}

.app_dropdown {
  background-color: #1f1f1f;
}

.app__left {
  flex: .9;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

/* .app__right {
  display: flex;
  justify-content: space-between;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}*/

.app__worldwide {
  margin-top: 15px;
  height: 360px;
}

.graph {
  /* flex-grow: 1; */
  margin-top: 20px;
  height: 280px;
}

.MuiCard-root {
  background-color: #1f1f1f !important;
  color: #fff !important;
}

.MuiSelect-root {
  color: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #333 !important; /* border color */
}
.MuiSelect-icon {
  color: #ccc !important; /* icon drop down icon color */
}
.MuiInputLabel-root {
  color: #ccc !important; /* for lable color */
}

.MuiMenu-paper {
  background-color: #1f1f1f !important;
  color: #fff !important;
}

.leaflet-touch .leaflet-bar a {
  width: 50px;
  background-color: #1f1f1f;
  color: #fff;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}