* {
  margin: 0;
}

body {
  background-color: #111;
  min-height: 100vh;
}

.app {
  padding: 20px;
}

.app__stats {
  display: flex;
  /* justify-content: space-evenly; */
}

.app__worldwide {
  margin-top: 19px;
  height: 420px;
}

.app__graph {
  margin-top: 15px;
  height: 330px;
}

.app__table {
  height: 400px;
  min-height: calc(100vh - 420px - 20px - 20px - 20px);
}

.MuiCard-root {
  background-color: #1f1f1f !important;
  color: #fff !important;
}

.leaflet-touch .leaflet-bar a {
  background-color: #1f1f1f;
  color: #fff;
}

.leaflet-touch .leaflet-bar a:hover {
  background-color: #fff;
  color: #000;
}

.leaflet-control-zoom-fullscreen {
  background-image: url("/src/img/fullscreen-white.svg") !important;
  background-size: 26px;
}
.leaflet-control-zoom-fullscreen:hover {
  background-image: url("/src/img/fullscreen-black.svg") !important;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    margin-right: 0;
  }

  .app__right {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .app {
    padding: 16px;
  }
  .app__table {
    height: 465px;
  }
  .app__stats {
    width: 100%;
    padding: -1rem !important;
    overflow-x: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .app__stats::-webkit-scrollbar {
    display: none;
  }
}
